<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.dao.BlogTypeDao">

	<resultMap type="BlogType" id="BlogTypeResult">
		<result property="id" column="id"/>
		<result property="typeName" column="type_name"/>
		<result property="count" column="count"/>
		<result property="createTime" column="create_time"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<insert id="save" parameterType="BlogType">
		insert t_blogtype
		<set>
		    <if test="typeName!=null and typeName!='' ">
				type_name=#{typeName},
			</if>
		    <if test="count!=null and count!='' ">
				count=#{count},
			</if>
		    <if test="createTime!=null and createTime!='' ">
				create_time=#{createTime},
			</if>
		    <if test="status!=null and status!='' ">
				status=#{status},
			</if>
		</set>
	</insert>
	
	<delete id="delete" parameterType="Integer">
		update t_blogtype status=-1 where id=#{id}
	</delete>

	<update id="update" parameterType="BlogType">
		update t_blogtype
		<set>
		    <if test="typeName!=null and typeName!='' ">
				type_name=#{typeName},
			</if>
		    <if test="count!=null and count!='' ">
				count=#{count},
			</if>
		    <if test="createTime!=null and createTime!='' ">
				create_time=#{createTime},
			</if>
		    <if test="status!=null and status!='' ">
				status=#{status},
			</if>
		</set>
		where id=#{id}
	</update>

	<select id="findById" parameterType="Integer" resultMap="BlogTypeResult">
		select * from t_blogtype where id=#{id}
	</select>
	
	<select id="findAll" resultMap="BlogTypeResult">
		select * from t_blogtype order by id desc
	</select>
	
	<select id="countAll" resultType="Integer">
		select count(*) from t_blogtype
	</select>

	<select id="findByPage" parameterType="Map" resultMap="BlogTypeResult">
		select * from t_blogtype order by id desc
		<if test="start!=null and quantity!=null">
			limit #{start},#{quantity}
		</if>
	</select>	
</mapper> 